@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Monda:wght@400;700&family=Montserrat:ital,wght@0,500;0,600;0,700;1,400&family=Moulpali&display=swap');

:root {
  /* font size */
  --size-h1: 1.602em;
  --size-h2: 1.424em;
  --size-h3: 1.266em;
  --size-text1: 1.125em;
  --size-text2: 1em;
  --size-text3: 0.889em;

  /* Color */
  --primary-color: #e4182d;
  --secondary-color: #fff;
  --secondary-2-color: #e5e7eb;
  --black01: #333333;
  --black02: #555555;
  --black03: #7e7e7e;

  /* margin */
  --mp01: 24px;
  --mp02: 18px;
  --mp03: 16px;
  --mp04: 12px;
  --mp05: 8px;
  --mp06: 6px;
  --mp07: 4px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

/* ============= NAVIGASI MENU =============  */
.nav {
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 100px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
  transition: all 0.3s ease-in-out;
}

.nav.active {
  height: 60px;
  background-color: rgba(
    255,
    255,
    255,
    0.5
  ); /* Warna latar belakang transparan */
  backdrop-filter: blur(5px); /* Efek blur dengan radius 5px */
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
}

.menu-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  height: inherit;
}

.nav .menu-btn .logo-honda img.active {
  width: 120px;
}
/* ============= AKHIR NAVIGASI MENU =============  */

/* ============= CAROUSEL HERO SECTION =============  */
.sweper {
  overflow: hidden;
  /* background-color: green; */
}

.sweper-wrapper {
  display: flex;
  width: max-content;
  transition: all 0.4s ease-in-out;
}
/* ============= HEADER PIL_MBL =============  */
.header-pil-mbl {
  background-color: #ffffff;
  padding-top: 56px;
  padding-bottom: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 10px;
}
.header-pil-mbl h1 {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  letter-spacing: -0.015em;
  font-size: 2em;
  text-align: center;
  color: #444444;
}

.header-pil-mbl h1 span {
  color: #da0037;
}

.header-pil-mbl .desc-pil-mbl {
  font-family: 'Inter', sans-serif;
  font-size: 1em;
  color: #717171;
  max-width: 330px;
  text-align: center;
}

.desc-pil-mbl span {
  color: #da0037;
}
/* ============= AKHIR HEADER PIL_MBL =============  */

/* <!-- CAROUSEL MOBIL --> */
.carousel {
  width: 100%;
  /* height: 430px; */
  /* background-color: rgb(241, 241, 241); */
  overflow: hidden;
  position: relative;
}

.sweper {
  height: 100%;
  /* background-color: black; */
}

.slider {
  /* background-color: rgb(7, 12, 7); */
  width: fit-content;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  transition: all 0.6s ease-in-out;
}

.slide {
  /* background-color: rgb(23, 36, 221); */
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
}

.card {
  /* background-color: rgb(255, 80, 80); */
  width: 100%;
  height: 330px;
  padding: 16px;
  border-radius: 6px;
  position: relative;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
}

.card .mobil {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card .taged {
  background-color: rebeccapurple;
  width: 173px;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 4fr;
  border-radius: 12px;
  overflow: hidden;
}
.merk {
  background-color: #171717;
  display: flex;
  justify-content: center;
  align-items: center;
}

.merk img {
  width: 120px;
  /* height: 16.45px; */
}

.harga {
  background-color: #da0037;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 18px;
  row-gap: 12px;
}
.harga h3 {
  /* background-color: aqua; */
  font-family: 'Inter', sans-serif;
  font-size: 1em;
  color: white;
  text-align: center;
}

.harga h3:first-child {
  font-weight: 500;
}

button {
  display: flex;
  position: absolute;
  height: fit-content;
  top: 50%;
  border: none;
  background-color: inherit;
  color: red;
}

button i {
  font-size: 42px;
  /* background-color: rgb(63, 1, 1); */
}

#prevBtn {
  left: 0;
}

#nextBtn {
  right: 0;
}
/* <!-- AKHIR CAROUSEL MOBIL -->  */

/* ============= FOOTER ============= */
footer {
  background-color: var(--black01);
  padding-top: 24px;
  padding-left: 16px;
  padding-left: 16px;
}

footer .description {
  border-bottom: 1px solid var(--black02);

  padding-bottom: 12px;
}

footer .honda-logo {
  display: flex;
  justify-content: start;
  margin-top: 32px;
  /* background-color: var(--black03); */
}

.header-footer {
  font-family: 'Moulpali', sans-serif;
  font-size: var(--size-h1);
  color: var(--secondary-2-color);
  font-weight: 500;
  margin-top: var(--mp01);
  line-height: 120%;
}

.title-footer {
  color: var(--black03);
  margin-bottom: var(--mp01);
}

footer p {
  font-family: 'Moulpali', sans-serif;
  line-height: 120%;
}

.tentang-dealer {
  font-size: var(--size-text2);
  color: var(--secondary-2-color);
  font-family: 'Moulpali', sans-serif;
  font-weight: 500;
  line-height: 120%;
  margin-top: var(--mp03);
}

.title-td {
  font-size: var(--size-text3);
  color: var(--black03);
  margin-bottom: var(--mp05);
}

.tentang-pengembang {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tentang-pengembang img {
  opacity: 0.6;
}

.tentang-pengembang p {
  font-family: 'Moulpali', sans-serif;
  color: var(--black03);
  margin-top: var(--mp04);
  margin-bottom: var(--mp01);
}
/* ============= AKHIR FOOTER ============= */

/* CSS untuk aspek rasio 4:5 (default) */
.sweper-slider {
  width: 100vw;
  background-color: blue; /* Warna latar belakang (sesuaikan dengan kebutuhan Anda) */
  aspect-ratio: 4 / 5; /* Aspek rasio 4:5 */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: 0;
}
/* ============= AKHIR CAROUSEL HERO SECTION =============  */

/* ============= MEDIA QUERY ============= */

/* CSS untuk aspek rasio 21:9 (pada layar yang lebih besar) */
@media (min-width: 639px) {
  /* ============= CAROUSEL HERO SECTION ============= */
  .sweper-slider {
    aspect-ratio: 21 / 10;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
  }
  .satu {
    background-image: url(img/1a.jpg) !important;
  }
  .dua {
    background-image: url(img/2a.jpg) !important;
  }
  .tiga {
    background-image: url(img/3a.jpg) !important;
  }
  .empat {
    background-image: url(img/4a.jpg) !important;
  }
  .lima {
    background-image: url(img/5a.jpg) !important;
  }
  .enam {
    background-image: url(img/6a.jpg) !important;
  }
  .tujuh {
    background-image: url(img/7a.jpg) !important;
  }
  /* ============= AKHIR CAROUSEL HERO SECTION =============  */

  /* ============= NAVIGASI MENU =============  */

  /* ============= AKHIR NAVIGASI MENU =============  */
}

@media (min-width: 767px) {
  #sweper-slider {
    aspect-ratio: 19 / 8;
    background-position: center;
    background-position-y: -7px;
  }
}
